@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.clear:after{clear: both; display: block; content: '';}
.blind{position: absolute; width: 1px; height: 1px; overflow: hidden; margin: -1px; clip: rect(0,0,0,0);}

body{font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
 /* font-family: 'Noto Sans KR', sans-serif; */; padding-top: 70px; background: #181818; min-width: 320px;}