
/* main */
 .main_banner{padding:20px 0;}
	.main_banner .banner_slider{}
 .main_banner .swiper-slide{}
	.main_banner .swiper-slide a{display: block; border-radius: 20px; overflow: hidden; transform: scale(0.95); transition: 0.5s; position: relative; padding-bottom: 60%;}
 .main_banner .swiper-slide.swiper-slide-active a{transform: scale(1); }
 .main_banner .txt_wrap{position: absolute; bottom: 0;left: 0; width: 100%; padding: 15px; color: #fff; }
	.main_banner .txt_wrap strong{font-size: 20px; font-weight: 600; display: block; padding-bottom: 8px;}
	.main_banner .txt_wrap p{font-style: 15px;}
 .main_banner .swiper-slide img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}


/* continue */
.continue{padding: 20px 0;}
.continue .continue_wrapper{}
.continue h2{font-size: 20px; color: #fff; padding: 0 10px 30px;}
.continue h2 em{font-weight: 700;}
.continue h2 i{font-size: 10px; margin-left: 10px; display: inline-block; margin-top: 4px; vertical-align: top;}
.continue .con_slider {padding: 0 10px;}

.con_slider .swiper-slide{width: 180px;
 height: 300px; background-color: #fff; overflow: hidden; border-radius: 10px; position: relative;}
 .con_slider .swiper-slide .img_wrap{height:300px; }
 .con_slider .swiper-slide .img_wrap img{width: 100%; height: 100%; object-fit: cover; }
 .con_slider .swiper-slide .desc{width: 100%; position: absolute; bottom: 0; background-color: rgba(27, 27, 27, 0.5); padding: 20px; backdrop-filter: blur(6px);}
	.con_slider .swiper-slide .desc .playtime{position: absolute;top: 0;left: 0;width: 100%;background-color: #fff; height: 3px;}
	.con_slider .swiper-slide .desc .playtime span{position: absolute;top: 0;left: 0;height: 3px; background-color: red;}
 .con_slider .swiper-slide .desc .tit{ color: #fff; font-size: 16px;}
 .con_slider .swiper-slide .desc .play{color: #fff; position: absolute; right: 20px; top: 14px; width: 30px;height: 30px; border-radius: 50%; border: 2px solid #fff; text-align: center; line-height: 30px;}
 .con_slider .swiper-slide .desc .play i{font-size: 16px;}



/* my list */
 .my_list{padding: 20px 0;}
 .my_list .myList_wrapper{}
.my_list h2{padding: 0 10px 30px; font-size: 20px; color: #fff;}
.my_list h2 em{font-weight: 700;}
.my_list h2 i{font-size: 10px; margin-left: 10px; display: inline-block; margin-top: 4px; vertical-align: top;}
 .my_list .myList_slider{padding: 0 10px;}
 .myList_slider .swiper-slide{width: 125px;
		height: 200px; overflow: hidden; border-radius: 10px; position: relative;}
 .myList_slider .swiper-slide .img_wrap{height: 100%;}
	.myList_slider .swiper-slide .img_wrap a{display: block; height: 100%;}
 .myList_slider .swiper-slide .img_wrap a img{width: 100%; height: 100%; object-fit: cover;}



	/* original */
.original{padding: 20px 0;}
.original .myList_wrapper{}
.original h2{padding: 0 10px 30px; font-size: 20px; color: #fff;}
.original h2 em{font-weight: 700;}
.original h2 i{font-size: 10px; margin-left: 10px; display: inline-block; margin-top: 4px; vertical-align: top;}
.my_list .myList_slider{padding: 0 10px;}

.original .origin_slider{padding: 0 10px;}
.origin_slider .swiper-wrapper{}
.origin_slider .swiper-slide{
 height: 170px; overflow: hidden; border-radius: 10px; position: relative; width: 100px; }
.origin_slider .swiper-slide .img_wrap{height: 100%;}
.origin_slider .swiper-slide .img_wrap a{height: 100%; display: block;}
.origin_slider .swiper-slide .img_wrap a img{width: 100%; height: 100%; object-fit: cover;}


/* news */
.news{padding: 20px 10px; background-color:#fff}
.news .news_wrapper{}
.news .tit_wrap{padding: 20px 0 0 0; font-size:20px; color: #111;}
.news .tit_wrap h2{float: left; padding-bottom: 20px; font-size: 20px; color: #111; font-weight: 700;}
.news .tit_wrap .all_btn{float: right; color: #f5ca48; font-weight: 700; font-size: 18px;}
.news .tit_wrap a i{font-size: 10px; margin-left: 10px; display: inline-block; margin-top: 4px; vertical-align: top;}

.news .news_contents{}
.news .news_contents .item{float: left; position: relative;width: calc(50% - 5px); height: 105px; border-radius: 10px; overflow: hidden;}
.news .news_contents .item::before{content: ''; position: absolute;bottom: 0;left: 0; width: 100%; height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); 
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
	 z-index: 1;}
.news .news_contents .item .bg{position: absolute; top: 0;left: 0;width: 100%; height: 100%; object-fit: cover;}
.news .news_contents .item1{height: 220px; margin-right: 10px;}
.news .news_contents .item2{margin-bottom: 10px;}
.news .news_contents .item3{}

.news .item em{background: #ffc100; border-radius: 5px; position: absolute;top: 10px; left: 10px; font-size: 10px; font-weight: 500; padding: 3px 5px; z-index: 2;}
.news .news_contents .txt_wrap{padding: 10px; color: #fff; z-index: 2; position: absolute; bottom: 0;left: 0;}
	.news .news_contents .txt_wrap strong{font-size: 14px; font-weight: 600; line-height: 18px; display: block; height: 36px; overflow: hidden; text-overflow: ellipsis;  display: -webkit-box;	-webkit-line-clamp: 2;	-webkit-box-orient: vertical; margin-bottom: 8px;}

	.news .news_contents .txt_wrap span{color: rgba(175, 175, 175, 0.801); font-style: 12px; }



/* recommend */
.recommend{padding: 20px 10px; background: #fff;}
.recommend .recom_wrapper{position: relative;}
.recommend .tit_wrap{content: '';	width: 100%;	height: 240px;	background-color: #111;	border-radius: 20px;	position: absolute;	top: 0;	left: 0; color: #fff; position: relative; padding: 70px 20px;}
.recommend .tit_wrap::before{content: ''; position: absolute; top: 30px;left: 20px; width: 80px;height: 25px; background: url(../img/netflix_logo.png); background-repeat: no-repeat; background-size: 100%;}
.recommend .tit_wrap::after{}
.recommend .tit_wrap p{font-size: 20px;}
.recommend .recom_content{text-align: center; margin-top: -80px; position: relative;}
.recommend .recom_content .inner{display: inline-block;}
.recommend .recom_content .recom_item{float: left; margin: 0 5px;}
.recommend .recom_content .image_wrap{width: 80px; height: 120px; overflow: hidden; border-radius: 10px;}
.recommend .recom_content .image_wrap img{height: 100%;	width: 100%; object-fit: cover;}

.recommend .recom_content .percentage{margin-top: 5px; font-size: 16px; overflow: hidden;}
.recommend .recom_content .percentage .per_line{width: 30px; height: 30px; float: left; padding: 9px 7px 0;}
.recommend .recom_content .percentage .per_line i{background-color:#858585; width: 2px;height: 10px; float: left;margin: 0 1px;}
.recommend .recom_content .percentage .per_line i:nth-child(1){height: 2px; margin-top: 9px; }
.recommend .recom_content .percentage .per_line i:nth-child(2){height: 5px; margin-top: 6px;}
.recommend .recom_content .percentage .per_line i:nth-child(3){height: 8px; margin-top: 3px;}
.recommend .recom_content .percentage .per_line i:nth-child(4){height: 11px; margin-top: 0;}
.recommend .recom_content .percentage .per_line.line01 i:nth-child(1){background-color: aqua;}
.recommend .recom_content .percentage .txt{line-height: 30px;display: inline-block; font-size: 12px; font-weight: 500; float: left;}


.recommend .filmweb{display: inline-block; width: 100%; background-color: #111; color: #fff; padding: 20px; font-size: 16px; position: relative; border-radius: 10px; margin-top: 30px;}

.recommend .filmweb i{position: absolute; right: 20px; top: 50%; transform: translateY(-50%);}



/* people */
.people{padding: 30px 0px; background-color: #fff;}
.people .people_wrapper{}
.people .people_wrapper h2{font-size: 20px; font-weight: 700; padding-bottom: 20px; padding: 0 10px 20px;}
.people .people_slider{padding: 0 15px;}
.people_slider .swiper-wrapper{}
.people_slider .swiper-slide{width: 100px; text-align: center;}
	.people_slider .swiper-slide .img_wrap{height: 120px; box-shadow: 3px 5px 13px #9999998a;;overflow: hidden; border-radius: 10px;}
	.people_slider .swiper-slide .img_wrap img{width: 100%; height: 100%; object-fit: cover;}
	.people_slider .swiper-slide strong{font-size: 14px; font-weight: 600; line-height: 1.2; display: block; margin-top: 10px;}


	/* knowledge */
.knowledge{padding: 30px 10px;background-color: #fff;}
.knowledge .know_slider{padding-top: 30px; padding-bottom: 20px;}
.know_slider .swiper-wrapper{}
.know_slider .swiper-slide{position: relative;	border-radius: 20px;	 border-radius: 20px;}
.know_slider .swiper-slide .inner{width: 100%; padding: 20px;	background-color: #111;	border-radius: 20px; height: 180px; position: relative;}
.know_slider .category{display: block; font-size: 14px; color: #ffc100; font-weight: 600; margin-bottom: 10px; display: block;}
.know_slider h2{color: #fff; font-size: 16px; font-weight: 700; line-height: 1.5;}

.know_slider .pop_image{width: 150px;	position: absolute;	right: 0;	bottom: 0; opacity: 0;transition: .5s;}
.know_slider .swiper-slide-active .pop_image{opacity: 1;}
.know_slider .pop_image img{width: 100%;}
.know_slider a{font-size: 15px; background-color: #ffc100; border-radius: 5px; padding: 0 20px;display: inline-block; font-weight: 500; line-height: 35px; width: 120px; margin-top: 20px;}
.know_slider a .icons{float: right;}
.know_slider a .icons i{}
.know_slider a .icons i:nth-child(1){animation: icon linear 1.5s 0s infinite;}
.know_slider a .icons i:nth-child(2){animation: icon linear 1.5s 0.5s infinite;}
.know_slider a .icons i:nth-child(3){animation: icon linear 1.5s 1s infinite;}
@keyframes icon {
	0% {
			opacity: 1;
			transform: scale(1);
			left: 0;
	}
	100% {
			opacity: 0;
			transform: scale(1.5);
			left: 100px;
	}
}




/* box office */
.box_office{padding: 30px 10px; background-color: #fff;}
.box_office .bo_wrapper{}
.box_office .tit_wrap{position: relative;}
.box_office .tit_wrap h2{font-size: 20px; font-weight: 700;}
.box_office .tit_wrap span{font-size: 14px; margin-top: 10px; color: #999; display: inline-block;}
.box_office .tit_wrap .period{position: absolute; top: 0; right: 0; height: 100%; border: none; background: #eee url(../img/profile.png) no-repeat;background-position: right 5px center; background-size: 10px; padding: 5px 20px; border-radius: 10px; color: #858585;}


.box_office .ranking{margin-top: 30px;}
.ranking .ranking_item{padding: 20px 0; position: relative;}
.ranking .ranking_item::after{position: absolute; content: ''; bottom: 0; left: 20px;width: calc(100% - 20px); height: 1px; background-color: #eee;}
.ranking .ranking_item .num{font-size: 40px;	float: left; color: #999; width: 43px; font-weight: 600;}
.ranking .ranking_item .movie_title{}
.ranking .ranking_item .movie_title strong{display: block; font-size: 14px; font-weight: 600;}
.ranking .ranking_item .movie_title .week{color: #999; margin-top: 10px; display: inline-block; font-size: 10px;}
.ranking .ranking_item .income{text-align: right; margin-top: -13px;}
.ranking .ranking_item .income em{display: block; font-size: 16px; font-weight: 600;}
.ranking .ranking_item .income .budget{ margin-top: 10px; color: #999; display: inline-block; font-style: 10px;}


.footer{padding: 50px 30px; color: #ddd; font-size: 12px; line-height: 1.2;}
.footer span{margin-bottom: 10px; display: block;}










